<div class="mat-elevation-z8 example-container">
    <table mat-table [dataSource]="calls">
        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="call_id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let call"> {{call.call_id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Tipo </th>
        <td mat-cell *matCellDef="let call"> {{call.type}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="our_number">
            <th mat-header-cell *matHeaderCellDef> Número ligado </th>
            <td mat-cell *matCellDef="let call"> {{call.our_number}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="their_number">
            <th mat-header-cell *matHeaderCellDef> Número do cliente </th>
            <td mat-cell *matCellDef="let call"> {{call.their_number}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="their_number_type">
            <th mat-header-cell *matHeaderCellDef> Tipo do número </th>
            <td mat-cell *matCellDef="let call"> {{call.their_number_type}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="start_date">
            <th mat-header-cell *matHeaderCellDef> Data de início </th>
            <td mat-cell *matCellDef="let call"> {{call.start_date | date: 'medium'}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="finish_date">
            <th mat-header-cell *matHeaderCellDef> Data de fim </th>
            <td mat-cell *matCellDef="let call"> {{call.finish_date | date: 'medium'}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <!-- <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef> Symbol </th>
            <td mat-cell *matCellDef="let call"> {{call.timestamp}} </td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>